elasticsearch == 9.1.0
qdrant-client == 1.15.1
fastapi == 0.116.1
uvicorn == 0.35.0
python-dotenv == 1.1.1
langchain-openai == 0.3.33
pydantic-settings == 2.10.1
aiohttp == 3.12.15
python-multipart == 0.0.20